{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
   <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Stocks F&O</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
     Developed by <a href="#">Stocks F&O Team</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
  <!-- <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script> -->
  <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  
  <!-- Added By KG -->
  
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script src="{% static 'js/kg-data.js' %}"></script>

  <script>
    $(document).ready( function () {
    $('#kg_table').DataTable();
    } );
  </script>

<script>
  $(document).ready( function () {
  $('#sector_details').DataTable();
  } );
</script>

  <!-- https://code.jquery.com/jquery-3.5.1.js
https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js
https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js -->

</body>
</html>